html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
*{margin:0;padding:0}

a:link,a:visited{text-decoration:none;}
a:hover{font-weight: bold;}
a:active{text-decoration:none}

@media print{
    body,#main{color:#000}
    a,a:link,a:visited{color:#000;text-decoration:none}
    #global-nav,#global-footer,.noprint{display:none}
}

html{--gn-height:40px; font-family: 'Noto Sans', sans-serif;}
#main{position:relative;max-width:2560px;margin-right:auto;margin-left:auto}
#main .section{height:100vh;padding-top:var(--gn-height);box-sizing:border-box}
#main .section .section-content{width: 80%; margin-left: auto;margin-right: auto;height:calc(100vh - var(--gn-height));margin-right:auto;margin-left:auto}


/* header */
#global-nav
{           
            position:fixed;
            display:block;
            z-index:9999;
            top:0;
            right:0;
            left:0;
            width:100%;
            min-width:1024px;
            height:7%;
            padding-top: 15px;
            background-color: rgba(255,255,255,0.1);

        }

#global-nav .gn-content
        {
            width: 80%;
            height:100%;
            margin-right:auto;
            margin-left:auto;
            padding-right:20px;
            padding-left:22px;
            padding-left:calc(max(22px, env(safe-area-inset-left)));
            padding-right:calc(max(22px, env(safe-area-inset-right)));
        }

#global-nav ul{list-style:none;}
#global-nav .gn-list{width:auto;height:100%;float: right;}
#global-nav .gn-list li{display:inline-block;height:100%; margin-left: 40px;text-transform: uppercase;}
#global-nav .gn-list li a{display:inline-block;height:100%;padding-right:15px;padding-left:15px;color: white;;font-size:15px;line-height:40px}
#global-nav .gn-list li a span{display:block}
#global-nav .gn-list img{margin-top: 5px;}



/* firstpage */
#main .section:nth-child(1)
{

    background-image:url(../img/slide2new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    line-height: 150%;
    color: white;
}


#main .section:nth-child(1) .roomieh2{
    font-size: 60px;
    margin-top: 150px;
    font-weight: bold;
    margin-bottom: 100px;
}


#main .section:nth-child(1) p{
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 35px;
    margin-top: 5px;
    
}

#main .section:nth-child(1) h3
{   
    font-size: 20px; 
    text-align: left;
    color: white;
    margin-bottom: 30px;

}

/* 버튼 */
button 
{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    width: 150px;
    height: 45px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 500;
    border: none;
    font-weight: bold;}

.btn1 {background-color: rgba(255,255,255,0.4); 
        color: white; 
        border-radius: 50px;
        margin: 0 10px;
        font-size: 13px;
        box-sizing: border-box;}

.btn1:hover { background-image: linear-gradient(to right , rgba(194,186,255,0.7) , rgba(120,199,255,0.7), rgba(159,237,255,0.7));
        color: white;
        border:1px; }


.btn2 {background-color: rgba(255,255,255,0.4); 
        color: white; 
        border-radius: 50px;
        margin: 0 10px;
        font-size: 13px;
        box-sizing: border-box;}

.btn2:hover { background-image: linear-gradient(to right , rgba(194,186,255,0.7) , rgba(120,199,255,0.7), rgba(159,237,255,0.7));
        color: white;
        border:1px; 
}

#button-box{margin-top: 50px;margin-left: -10px;}





/* seccond page */


#main .section:nth-child(2)
{
    background-color: white;
    position: relative;
}

.mockupimg{position: absolute;bottom: 0;right: -90px;width: 100%;
    background-image: url(../img/backchange.png); height: 100%;background-repeat: no-repeat;
    background-size:cover;background-position-x: right;
    /* animation: imgchange 10s ease-in infinite; */}

/* @keyframes imgchange{
    0%{
        background-image: url(../img/mockup1.png);
    }
    50%{
        background-image: url(../img/mockup2.png);
    }
    100%{background-image: url(../img/mockup3.png);}
} */



#main .section:nth-child(2) h1{color: #11BAFF;margin-top: 100px;margin-bottom: 60px;font-size: 45px; font-weight:800}
#main .section:nth-child(2) h1 .textsub{
    font-size: 25px; font-weight: 600;
}
#main .section:nth-child(2) h3{
    text-align: left;font-size: 25px; color: rgb(82, 82, 82);
    margin-bottom: 30px;
}

#main .section:nth-child(2) #texbox{
    font-size: 15px;
    width: 60%;
    font-weight: bold;
    line-height: 30px;
}

#main .section:nth-child(2) .section-content{
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
}


/* third page */

#main .section:nth-child(3){background-color: white;position: relative;}
#main .section:nth-child(3) h2{color: #11BAFF;margin-top: 100px;margin-bottom: 60px;font-size: 50px; font-weight:800}
#main .section:nth-child(3) h2 .textsub{font-size: 25px; font-weight: 600;}
#main .section:nth-child(3) p{margin-top: 5px; text-align: left;}
#main .section:nth-child(3) .bold{color: #11BAFF; font-style: italic; font-weight: bold; font-size: 30px;}
#main .section:nth-child(3) ul{list-style-type: none;}

#main .section:nth-child(3) #func1
{  padding-left: 20px;
    box-sizing: border-box;
    width: 500px; 
    height: 60px; 
    border: #11BAFF solid 2px; 
    border-radius: 30px; 
    margin-top: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 500;}

#main .section:nth-child(3) #func2
{   padding-left: 20px;
    box-sizing: border-box;
    width: 500px; 
    height: 60px; 
    border: #11BAFF solid 2px; 
    border-radius: 30px; 
    margin-top: 40px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 500;}

#main .section:nth-child(3) #func3
{   padding-left: 20px;
    box-sizing: border-box;
    width: 500px; 
    height: 60px; 
    border: #11BAFF solid 2px; 
    border-radius: 30px; 
    margin-top: 40px;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    z-index: 500;}

#main .section:nth-child(3) #func1:hover
    {
        background-color: rgba(159,237,255,0.7);
        border: none;
    }

#main .section:nth-child(3) #func2:hover
{
    background-color: rgba(159,237,255,0.7);
    border: none;
}
#main .section:nth-child(3) #func3:hover
{
    background-color: rgba(159,237,255,0.7);
    border: none;
}





#main .section:nth-child(3) img{float: right; margin-top: -800px; margin-right: 10%;}
#main .section:nth-child(3).gallery{width:800px;margin-right:auto;margin-left:auto;padding-top:80px}
#main .section:nth-child(3).gallery .view{overflow:hidden;position:relative;width:800px;height:500px}
#main .section:nth-child(3).gallery .view .view-container{position:absolute;top:0;left:0;width:100%;height:100%}
#main .section:nth-child(3).gallery .view-container .view-item{float:left;width:100%;height:100%}
#main .section:nth-child(3).gallery .view-container::after{content:"";display:block;position:relative;clear:both}
#main .section:nth-child(3).gallery .view-item img{display:inline-block;width:100%;vertical-align:top}

/*#main .section:nth-child(3).list{margin-top:20px;margin-right:-10px;margin-left:-10px}
#main .section:nth-child(3).list li{display:inline-block;width:25%;padding-right:10px;padding-left:10px;vertical-align:top;box-sizing:border-box}
#main .section:nth-child(3).list li a{display:block;position:relative;width:100%;cursor:pointer}
#main .section:nth-child(3).list li a img{display:inline-block;width:100%;vertical-align:top}
#main .section:nth-child(3).list li a::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:0px solid #000;box-sizing:border-box;
-webkit-transition: border 120ms ease-in-out;
-moz-transition:border 120ms ease-in-out;
-o-transition:border 120ms ease-in-out;
-ms-transition:border 120ms ease-in-out
}
#main .section:nth-child(3).list li.selected a{cursor:default}
#main .section:nth-child(3).list li.selected a::before{border-width:4px}
#main .section:nth-child(3).list li a:hover::before,
#main .section:nth-child(3).list li.selected a::before{border-width:4px}



 */


 /* fourth page */

#main .section:nth-child(4){
    background-color: white;
    }

    #main .section:nth-child(4) #sec5-h1{ margin-top: 60px ;color: #11BAFF; font-size: 35px; margin-bottom: 80px;text-align: right;}

    #main .section:nth-child(4) #sec5-h4{ color: #11BAFF; font-size: 20px; margin-bottom: 30px;margin-top: 10px;text-align: right;}
    #main .section:nth-child(4) #sec5{font-size: 15px; text-align: left; line-height: 30px; margin-top: 20px;text-align: right;}

    #main .section:nth-child(4) .btn3 
    {   border: #11BAFF solid 1.5px;
        width: 180px;
        background-color: white;
        color: #7F7F7F; 
        border-radius: 50px;
        margin-top: 40px;
        font-size: 13px;
        position: absolute;
        right: 10%;}
    
    #main .section:nth-child(4) .btn3:hover 
    { background-image: linear-gradient(to right , rgba(194,186,255,0.7) , rgba(120,199,255,0.7), rgba(159,237,255,0.7));
        color: white;
        border:1px; 
    }
    #main .section:nth-child(4) .section-content
    {   
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 80%;
        
    }

    .underline{
        border-top:  #11BAFF 3px solid;
        width: 30px;
        height: 5px;
        display: block;
        float: right;
    }



/* fifth page */


#main .section:nth-child(5){
        background-color: white;
    }


#main .section:nth-child(5) .section-content
{   display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    position: relative;
}

 
#main .section:nth-child(5) .section-content h2
{
    color: #11BAFF;
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
}

#main .section:nth-child(5) .keyword{
    list-style:none;
    display: inline-block;
    color:#11BAFF;
    width: 60%;
    margin-left:15%;
    padding-left: 8%;
    margin-right:15%;
    font-weight: bold;
}

#main .section:nth-child(5) .circle{
    display: block;
    float: left;;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 70px;
    border: 1.5px solid #11BAFF;
    text-align: center;
}


#main .section:nth-child(5) .circle:hover{

    background-image: linear-gradient(to right , rgba(194,186,255,0.7) , rgba(120,199,255,0.7), rgba(159,237,255,0.7));
    border: none;
    color: white;
}


#main .section:nth-child(5) li{
    margin-top: 45%;
    width: 100%;
    font-size: 20px;
}





#main .section:nth-child(6)
{
    background-color: white
}
#main .section:nth-child(6) .section-content h2
{
    color: #11BAFF;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 50px;
}
#main .section:nth-child(6) .section-content{
    width: 80%; margin-left: auto; margin-right: auto;
}
#main .section:nth-child(6) .section-content video{
    width:70%;margin-left: 15%;margin-right: 15%;
}



#main .section:nth-child(7)
{
    height:100%;
    width: 100%;
    position: relative;
    background-image: url(../img/Multiple-Isometric-iPhone-MockUps.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#main .section:nth-child(8)
{
    background-color: white;
    position: relative;
}

#main .section:nth-child(8) .section-content{
    width: 80%;
    margin-left: 10%;margin-right: 10%;
    height: 100%;
    position: absolute;
    top: 0;
}
#main .section:nth-child(8) .section-content .texx{
    width: 40%;
    height: 100%;
    float: right;
    text-align: left;
}

#main .section:nth-child(8) .section-content .texx h3{
    color: #11BAFF;
    text-align: left;
    margin-bottom: 60px;
    line-height: 50px;
    font-size: 35px;
    margin-top: 140px;
}
#main .section:nth-child(8) .section-content .texx p{
    text-align: left;
    font-size: 15px; line-height: 30px;
    margin-top: 10px;
}

#main .section:nth-child(8) .section-content .underline{
    float:left
}



#main .section:nth-child(9)
{   margin-top: 50px;
    background-image: url(../img/gallery_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    text-align: center;
}

#main .section:nth-child(9) h1{
    margin-top: -10px;
    font-size: 40px;
    color:#11BAFF;
}




#main .section:nth-child(10)
{   padding-top: 20%;
    background-image: url(../img/page2_1.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: 800px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.9s;
    z-index: 500;
}

#main .section:nth-child(10) .section-content h3{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #11BAFF;
    margin-bottom: 20px;
}

#main .section:nth-child(10) .section-content p{
    text-align: left;
    line-height: 180%;
}




#main .section:nth-child(11){
    background-color:white;
    padding-top: 20%;
    background-image: url(../img/page2_1.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: 250px;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.9s;
    z-index: 500;}

#main .section:nth-child(11) .section-content h3{
    text-align: left;
    margin-left: 70%;
    font-size: 30px;
    font-weight: bold;
    color: #11BAFF;
    margin-bottom: 20px;
}

#main .section:nth-child(11) .section-content p{
    text-align: left;
    line-height: 180%;
    margin-left: 70%;
}





#main .section:nth-child(12){background-color:white}
#main .section:nth-child(13)
{
    margin-top: 10%;
    }


#main .section:nth-child(13) .name{
    list-style:none;
    display: inline-block;
    margin-left: 75px;
    margin-top: 5%;


}

#main .section:nth-child(13) .circle{
    display: block;
    float: left;
    margin-left: 30px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #11BAFF;
    text-align: center;
    padding-top: 10%;
    box-sizing: border-box;
    font-size:10px;
}

#main .section:nth-child(13) .name .circle:hover{
    background-image: linear-gradient(to right ,rgba(194,186,255,0.7) , rgba(120,199,255,0.7), rgba(159,237,255,0.7));
    border: none;


}

#main .section:nth-child(13) .section-content h2,h3, p
{
    color:black;
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (min-width:1920px){
    .notice::before{content:"1920px ~"}
}
@media only screen and (min-width:1440px) and (max-width:1919px){
    .notice::before{content:"1440px ~ 1919px"}
}
@media only screen and (min-width:1280px) and (max-width:1439px){
    .notice::before{content:"1280px ~ 1439px"}
}
@media only screen and (min-width:1024px) and (max-width:1279px){
    .notice::before{content:"1024px ~ 1279px"}
}
@media only screen and (max-width:1023px){
    #global-nav{min-width:320px}
    #global-nav .gn-list{margin-right:inherit;margin-left:inherit}
    #global-nav .gn-content{padding-right:12px;padding-left:12px;padding-left:calc(max(12px, env(safe-area-inset-left)));padding-right:calc(max(12px, env(safe-area-inset-right)));box-sizing:border-box}
    #main .section .section-content{width:100%;padding-right:22px;padding-left:22px;padding-left:calc(max(22px, env(safe-area-inset-left)));padding-right:calc(max(22px, env(safe-area-inset-right)));;box-sizing:border-box}
    #global-footer .gf-content{width:100%}
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .notice::before{content:"768px ~ 1023px"}
}
@media only screen and (min-width:586px) and (max-width:767px){
    .notice::before{content:"586px ~ 767px"}
}
@media only screen and (min-width:414px) and (max-width:585px){
    .notice::before{content:"414px ~ 585px"}
}
@media only screen and (min-width:375px) and (max-width:413px){
    .notice::before{content:"375px ~ 413px"}
}
@media only screen and (min-width:320px) and (max-width:374px){
    .notice::before{content:"320px ~ 374px"}
}
@media only screen and (max-width:319px){
    .notice::before{content:"~ 319px"}
}